
html{
    font-size:62.5%;
}

body{
    font-size:1.4rem;
    font-family:serif;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

*,
*::after,
*::before{
    box-sizing:border-box;
}

a,
a:hover,
a:visited,
a:link,
a:active{
    text-decoration:none;
}
.header{
    position:fixed;
    top:0;
    width:100%;
    height:50px;
    background: rgba(4, 7, 41, 0.9);
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 10px #333;
    h1{
        color:#fff;
        margin:0;
        text-shadow:0 0 10px rgb(231, 228, 44);
    }
}

.main{
    margin-top:50px;
    width:100%;
    .top{
        height:800px;
        background-image:url("../images/background.jpg");
        background-repeat:no-repeat;
        background-position:center center;
        background-size:cover;
        display:flex;
        justify-content:center;
        place-items:center;
        flex-direction:column;

        .title{
            font-size:4rem;
            font-weight:bold;
            text-shadow:0 0 10px rgb(231, 228, 44);
            color:#fff;
            margin:0;
        }

        .subtitle{
            font-size:2rem;
            color:#fff;
            text-shadow:0 0 10px rgb(231, 228, 44);
            margin:0;
        }
    }

    .contents{
        width:70%;
        margin:50px auto;
    }

    .form{
        text-align:center;

        .form-label{
            font-size:2rem;
            font-weight:bold;
            color:#fff;
            background:rgb(4, 7, 41);
            padding:5px 10px;
            cursor:pointer;
        }

        .fileForm{
            display:none;
        }

        .btn{
            font-size:1.8rem;
            font-weight:bold;
            padding:5px 20px;
            background:#fff;
            border:1px solid rgb(4, 7, 41);
            transition:0.5s;

            &:hover{
                background:rgb(4, 7, 41);
                color:#fff;
            }
        }
    }
}

.footer{
    width:100%;
    padding:5px 0;
    text-align:center;
    background:rgb(4, 7, 41);
    .copyrights{
        color:#fff;
        font-size:1.4rem;
    }
}