<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAITLab Iチーム開発ページ</title>
    <!-- <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css"> -->
    <!-- これはflask用 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <header class="header">
        <h1>HAIT Lab Primary 4期 Iチーム</h1>
    </header>
    <main class="main">
        <div class="top">
            <p class="title">あなたはどのセレブに似ているかな？</p>
            <p class="subtitle">- セレブ判定アプリ -</p>
        </div>

        <div class="contents">
            <div class="element">
                <p class="explain">新型コロナで騒がれる最近の世の中、多くの人々は暗い気持ちになっています。このアプリはその暗い気持ちになっている人に笑いを届け、1人でも多く明るい気持ちにシフトさせるために作られました。</p>
            </div>
            
            <form method="post" class="form" enctype="multipart/form-data">
                <label class="form-label" for="file">あなたの顔写真をアップロード</label>
                <input id="file" type="file" name="file" class="fileForm">
                <input class="btn" type="submit" value="判定">
                <p class="file-name">選択したファイル：<span id="selected-file"></span></p>
            </form>
        </div>

    </main>
    <footer class="footer">
        <small class="copyrights">©2020 HAIT Lab Primary 4th I_team All rights reserved.</small>
    </footer>
    <!-- <script src="../static/js/main.js"></script> -->
    <!-- これはflask用 -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>